---
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Right
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
FixNamespaceComments: true
SpaceAfterCStyleCast: true
SeparateDefinitionBlocks: Always
